.editor-styles-wrapper {

	.block-editor-block-list {

		&__layout {

			&.is-root-container {

				.alignfull {
					width: calc(100% + #{$side-padding} * 2);
					margin-left: calc(#{$side-padding} * -1) !important;
					margin-right: calc(#{$side-padding} * -1) !important;
				}
			}
		}
	}
}
