.alignfull {
	margin-left: calc(#{$side-padding} * -1);
	margin-right: calc(#{$side-padding} * -1);
}

[class*="wp-container"] {

	> .alignfull {
		margin-left: calc(#{$side-padding} * -1) !important;
		margin-right: calc(#{$side-padding} * -1) !important;
	}
}
