a {
	text-decoration: none;
}

p {
	margin: {
		top: 0;
		bottom: var(--wp--style--block-gap);
	}

	a {
		@include underline-hover;
	}
}

b,
strong {

	font-weight: 700;
}

small {
	font-size: 80%;
}
