/**
 * Customizer styles
 *
 * @author      Mahdi Yazdani
 * @package     Siuy
 * @since       1.1.4
 */
.siuy-radio-image input[type=radio] {
	display: none;
}
.siuy-radio-image div.image.ui-buttonset {
	margin-top: 20px;
}
.siuy-radio-image div.image.ui-buttonset label img {
	border: none;
	cursor: pointer;
	max-width: 100%;
	opacity: .5;
	transition: opacity 0.3s ease;
}
.siuy-radio-image div.image.ui-buttonset {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}
.siuy-radio-image div.image.ui-buttonset input[type=radio]:checked + label img, .siuy-radio-image div.image.ui-buttonset label img:hover {
	opacity: 1;
}
#accordion-section-siuy_go_plus_control {
	display: list-item !important;
	position: relative !important;
	height: auto !important;
}
#accordion-section-siuy_go_plus_control .accordion-section-title:hover, #accordion-section-siuy_go_plus_control .accordion-section-title:focus {
	background-color: #63574C;
}
#accordion-section-siuy_go_plus_control .accordion-section-title .button {
	border: none;
	box-shadow: none;
	background-color: #A89B8E;
	text-transform: uppercase;
	min-width: 98% !important;
	margin: 10px 0;
	height: 36px !important;
	line-height: 36px;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
	text-align: center;
	display: block;
	float: left;
	text-shadow: none;
	font-weight: 600;
}
.control-section-siuy-plus .accordion-section-title {
	padding-bottom: 60px;
	text-align: center;
}
#accordion-section-siuy_go_plus_control .accordion-section-title .button:hover {
	background-color: #63574C;
}
