$button: wp-block-button;

.wp-element-button,
.#{$button}__link {

	@include box(inline, middle, center);
	@include hover-overlay(rgba(30, 32, 37, 0.1), 100%);
	cursor: pointer;
	min-height: preset(spacing, 50);
}
