.wp-block-comment-content {
	> *:last-child {
		margin-bottom: 0;
	}
}

@each $element in edit-link, date, reply-link {
	.wp-block-comment-#{$element} {
		a {
			@include hover-slide;
		}
	}
}

.wp-block-comment-template {
	ol {
		padding-top: calc(#{$block-gap} * 2);

		> .comment {
			padding-right: 10px;
			position: relative;

			&:after,
			&:before {
				@include square(10px);
				border-radius: 10px;
				background-color: preset(color, separator);
				position: absolute;
				right: -6px;
			}

			&:not(:last-of-type) {
				border-right: 3px solid preset(color, separator);
				padding-bottom: calc(#{$block-gap} * 2);

				&:before {
					content: '';
					top: 0;
				}
			}

			&:nth-last-of-type(2) {
				&:after {
					content: '';
					bottom: 0;
				}
			}
		}
	}
}
