.comment-form {
	@include box(wrap);
	column-gap: preset(spacing, 30);

	> * {
		width: 100%;
		flex-grow: 1;
	}

	.wp-block-button {

		&__link {
			width: auto;
		}
	}

	@include from-tablet {
		@each $field in author, email, url {
			.comment-form-#{$field} {

				width: calc(33.333% - #{preset(spacing, 30)} * 2 / 3);
			}
		}
	}
}
