.wp-block-pullquote {

	blockquote {
		@include box(vertical);
		margin: 0;
		gap: $block-gap;
		position: relative;
		z-index: 1;

		p {
			font-size: inherit;
			line-height: inherit;
		}

		> * {
			margin-bottom: 0;
		}

		&::before {
			content: "”";
			position: absolute;
			font-size: 320px;
			line-height: 0;
			color: preset(color, secondary);
			right: calc(50% - 60px);
			top: calc(50% + 60px);
			z-index: -1;
		}
	}

	cite {
		font-size: 60%;
		display: block;
	}


}
