.wp-block-quote {
	@include box(vertical);
	gap: preset(spacing, 30);
	position: relative;

	> * {
		margin-bottom: 0;
	}

	cite {
		display: block;
	}

	&::before {
		content: "”";
		position: absolute;
		font-size: clamp(70px, 10vw, 120px);
		line-height: 0;
		color: preset(color, secondary);
		right: 0;
		bottom: preset(spacing, 30);
		pointer-events: none;
	}

	&.has-text-align-right {
		border-right: 0;
	}

	&.is-style-plain {
		background-color: preset(color, tile);
		border-width: 0;

		@include from-desktop {
			padding: {
				left: calc(#{preset(spacing, 80)} / 2);
				right: preset(spacing, 80);
			}
		}

		@include until-tablet {
			padding: {
				left: preset(spacing, 20);
				right: preset(spacing, 60);
			}
		}

		&::before {
			@include box(center, middle);
			height: 100%;
			background-color: preset(color, secondary);
			color: preset(color, secondary-alt);
			bottom: 0;
			padding: preset(spacing, 30) preset(spacing, 10) 0;
		}
	}
}
