.wp-block-quote {
	@include box(vertical);
	gap: $block-gap;
	position: relative;

	> * {
		margin-bottom: 0;
	}

	cite {
		font-size: 60%;
		display: block;
	}

	&::before {
		content: "”";
		position: absolute;
		font-size: clamp(70px, 10vw, 120px);
		line-height: 0;
		color: preset(color, secondary);
		right: 0;
		bottom: 30px;
		pointer-events: none;
	}

	&.has-text-align-right {
		border-right: 0;
	}

	&.is-style-plain {
		background-color: preset(color, tile);
		border-width: 0;

		@include from-desktop {
			padding: {
				left: 40px;
				right: 80px;
			}
		}

		@include until-tablet {
			padding: {
				left: 20px;
				right: 60px;
			}
		}

		&::before {
			@include box(center, middle);
			height: 100%;
			background-color: preset(color, secondary);
			color: preset(color, secondary-alt);
			bottom: 0;
			padding: 30px 10px 0;
		}
	}
}
