.wp-block-search {

	&__button {

		&.has-icon {
			padding: 0.125em 0.5em;
		}
	}

	&__input {
		font-size: preset(font-size, medium);
		font-family: preset(font-family, secondary);
	}

	&__label {
		font-size: preset(font-size, medium);
		font-family: preset(font-family, secondary);
	}
}
